@charset "UTF-8";

.fondo {
	background-color: #C9DEFD;
}
select {
  font-size: 20px !important;
}
.text-30 {
	font-size: 36px;
}

.width-half {

	width:400px;
}

.width-container {

	max-width: 1024px;
	min-width: 1024px;
}

.navbar-width {

	width: 900px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #BACEEC;
 }

.color-titulo-tabla {

	background-color: #869BBB;
}

.footer-color {

	background-color: #869BBB;

}


