@charset "UTF-8";

.fondo {
	background-color: #C9DEFD;
}
select {
  font-size: 20px !important;
}
.text-30 {
	font-size: 36px;
}

.width-half {

	width:400px;
}

.width-container {

	max-width: 1024px;
	min-width: 1024px;
}

.navbar-width {

	width: 900px;
}



.color-titulo-tabla {

	background-color: #869BBB;
}

.footer-color {

	background-color: #869BBB;

}

.perfil-size {

	width: 150px;
	height: 150px;
}



.enlinea {
	display: inline-block;
}

.overflow {

	overflow:hidden;
}

.imgheader {
	display:block;
    margin:auto;
}

.card {

	margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}



