@charset "UTF-8";

.fondo {
	background-color: #C9DEFD;
	overflow: hidden;
}

.misearch {
	width: 400px;
}

.misearch .nav-item {
	width: 90%;
	max-width: 90% !important;
}

.miselect {
	font-size: 18px;
	width: 400px;
	max-width: 80% !important;
}

.miselect option:nth-child(odd) {
	background-color: #e6e6e6;
}

.miselect option:nth-child(even) {
	background-color: #bcbcbc;
}

.text-30 {
	font-size: 36px;
}

.color-titulo-tabla {
	background-color: #869BBB;
}

.footer-color {
	background-color: #869BBB;
}

.enlinea {
	display: inline-block;
}
.bold {
	font-weight: bold;
}
.imgheader {
	display:block;
    margin: 10px;
}

.card {
	margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}



